*{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        font-family: 'Gothic A1', sans-serif;  
        
}

body{
        background-image: linear-gradient(rgba(5,7,12,0.70), rgba(5,7,12,0.70)), url(../img/La-cabana.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
        width:100vw;
        height:100vh;
        overflow-x:hidden;

}

.container{
        width: 100%;
        min-height: 100vh;
        display:flex;
        
}

.container .left{
    width: 15%;
    height: 100%;
    background-color:rgba(5, 7, 12, 0.38);
    display:flex;
    flex-direction:column;
    align-self:flex-start;
    padding:20px 0;
    border-right: 1px solid #222;
    position:fixed;
    
}




.container .left p{
        font-size:23px;
        color: grey;
        text-transform:capitalize;
        margin-bottom:15px;
        padding: 0 20px;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
}

.container .left .flow{
        width: 100%;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        gap:30px;
        padding: 15px 20px;
        margin: 1px 0;
        cursor:pointer;
        transition: all 0.3s;
        color: white;
        font-weight:1000;

}

.container .left .flow:nth-child(5){
        margin-bottom: 30px;

}

.container .left .flow:hover:not(.movie){
        background-color: #222;
}
.container .left .movie h2{
        color:red;
        font-weight: lighter;
}

.container .left .movie span{
        color: red;

}

.container .left .movie{
        background-color: rgba(236,35,35,0.212);
}

.container .flow span{
        font-size: 30px;
        color:rgb(226,226,226);
}

.container .flow h2{
        text-transform:capitalize;
        color: rgb(226,226,226);
        font-size:20px;
        font-weight:500;
        letter-spacing:1px;
        text-align: left;
        font-family: 'Acme', sans-serif;
        

}

.right .heading{
        display:flex;
        color:rgb(226,226,226);

} 

.right .heading .head-content{
        width: 100%;
        padding-left: 600px;
        margin-top: 70px;
       

}

.right .heading .head-content h2{
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 20px;
       

}

.head-content p{
        font-size: 18px;
        initial-letter: 2px;
        padding-right: 120px;
        

}


  .img-container{
        width: 200px;
        height: 280px;
        background: url(../img/cabana.jpg) no-repeat center center / cover;
        margin-left: 370px;
        top: 90px;
        position: absolute;
        border-radius: 8px;
}

.img-container img{
        width: 100%;
        height: 100%;
        
       
}

.titulo{
        margin-top:80px;
        padding-left: 350px;
        margin-bottom: 750px;
   }

h1{
        color:rgb(226,226,226);
        font-size:30px;
       
        font-weight: 500;
}

.titulo .movie-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5px;
        
       

}

.list{
        width: 250px;
        height: 300px;
        position: absolute;
        padding-top: 170px;
        left: 350px;
        
    
    }

 