body{
    background-color: #11137A;
}

div.desc{
    background-color : #4c8bf8;
    padding-top: 70px;
    border:  7px solid #3e70c7;
    display: block;
    font-size: 25px ;
    text-align: center;
 
}

div.img{
    margin-left: auto;
    margin-right: auto;
  }

div.h3{
    background-color : #84aef5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

div.h2{
    background-color : #1b345f;
    color:whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

