p{

    background-color: bisque;


}
.titulo{
     color: red;
}

.parrafo{
    color:aqua;
}

body{
    background-color:beige;
}

p{
    text-align: justify;
}

#p1{
    color: greenyellow;
}

div{

 background-color:burlywood ;

}

div h1{
    background-color: white;
}

img{
    padding: 2rem;
    border: 15px solid grey;
    margin: 3rem auto 3rem auto;
    display: block;
}